.room-new-input{
    padding: 1px;    
}

.room-submit{
    padding: 1px;
}

.room-item{
    padding: 1px;
}
.room-members-ul{
    margin: 0 25px;
}

.room-members-li{
    display: flex;
    justify-content: space-between;
}

.room-friend-request-username{
    width: 210px;
    font-size: 15px;
}

.room-friend-request-id{
    width: 230px;
    font-size: 15px;
}
.show-room-members{
    display: flex;
    height: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 11px;
    font-size: 13px;
    margin-left: 10px;
    border: 1px solid;
}

.show-room-members:hover{
    cursor: pointer;
    background-color: red;
    font-weight: bold;
  }

  #modal > .select-friends{
    font-size: 15px;
    margin-top: 12px;
  }