.signup-form-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.login-form-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* margin-bottom: 100px; */
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 300px;
  height: 32px;
  padding: 7px;
  font-size: 22px;
  border: solid white thin;
  margin: 8px;
  background: none;
  border: none;
  border-bottom: solid #3b3a30 1px;
}

.submit {
  margin-top: 10px;
  width: 140px;
  height: 35px;
  padding: 2px;
  border-radius: 11px;
  background: #3b3a30;
  color: white;
  font-size: 16px;
  border: #3b3a30;
}

.submit:hover {
  cursor: pointer;
  background-color: rgb(122, 241, 122);
}

.slogan {
  font-family: "Ubuntu", sans-serif;
  margin-left: 15px;
  margin-right: 75px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.slogan > h3 {
  font-size: 42px;
  margin-bottom: 10px;
}

.slogan > p {
  font-size: 20px;
}

.error-msg {
  margin-top: 15px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(221, 111, 77);
  font-weight: 100;
  text-align: center;
}

.btn-session {
  color: black;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #42423c;
  outline: none;
  transition: 0.5s ease-in-out;
  font-size: 16px;
  font-weight: 500;
}

.btn-session:hover {
  color: white;
  background-color: #42423c;
}

.login-form-container > i {
  font-size: 170px;
  color: #3b3a30;
}

.logo-text {
  margin: 0;
  padding: 0;
}
